{{define "header"}}
<header class="sticky top-0 z-20 flex items-center justify-between whitespace-nowrap border-b border-solid border-black/5 dark:border-white/5 bg-background-light/80 dark:bg-background-dark/80 px-4 sm:px-6 lg:px-8 py-3 backdrop-blur-sm">
<div class="flex items-center gap-8">
<a class="flex items-center gap-3 text-gray-900 dark:text-white" href="/">
<div class="text-primary">
<span class="material-symbols-outlined !text-3xl">wine_bar</span>
</div>
<h2 class="font-script text-3xl font-normal leading-tight">VinoCellar</h2>
</a>
</div>
</header>
{{end}}